body {
    font-family: sans-serif;
    background: #3d7863;
    /*    background-image: url("backgroundimg.jpg");*/
    background-image: url("backgroundimg2.jpg");
    background-size: cover;
}

header {
    background-color: #045c3d;
    opacity: 80%;
    margin: 5px;
    /*    border: solid;*/
    /*    border-color: #045c3d;*/
    /*    background-image: url("backgroundimg.jpg");*/
}

nav {
    /*    background-color: #045c3d;*/
}

nav p {
    background-color: #6ca834;
    margin: 5px;
    padding: 5px;
    opacity: 70%;
    color: white;
    border: solid;
    border-color: #045c3d;
    background-image: url("backgroundimg.jpg");

}

nav a {
    color: white;
}


#main {
    background-color: black;
    opacity: 70%;
    margin-top: 10px;
    padding: 5px;
    border: solid;
    border-color: #045c3d;
}

ul,
ol {
    font-family: serif;
    color: white;
}

footer {
    color: white;
}

h1 {
    font-family: cursive;
    color: greenyellow;
}

h2 {
    font-family: cursive;
    color: lightgreen;
}

h3 {
    font-family: cursive;
    color: darkseagreen;
}

p {
    color: white;
}

a {
    color: aquamarine;
}

a:hover {
    color: #13d641;
}

a:visited {
    color: darkgray;
}

a:visited:hover {
    color: aquamarine;
}

dl {
    color: white;
}

fieldset {
    color: white;
}

legend {
    color: greenyellow;
}

input[type=checkbox] {
    margin-left: 25px;
}


.floatright {
    float: right;
    margin-left: 30px;
}

.thankyou {
    background-image: url(sf.gif);
}
